---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import Hero from "../components/Hero.astro";
import Menu from "../components/Menu.astro";
import Nosotros from "../components/Nosotros.astro";
import Reservaciones from "../components/Reservaciones.astro";
import Ubicacion from "../components/Ubicacion.astro";
---

<Layout>
  <Navbar />
  <main>
    <Hero />
    <Menu />
    <Nosotros />
    <Reservaciones />
    <Ubicacion />
  </main>
</Layout>